
        <!-- <div class="login"> -->
        <!-- <div class="row">
                <div class="col-md-8 offset-2 " style="background-color:#000000A2 ;">
                    <div class="row">
                        <div class="col-md-8">
                            <img src="../../../assets/images/login.png" class="images" alt="">
                        </div>
                        <div class="col-md-4 login-form">
                            <form action="">
                                <mat-form-field appearance="outline">
                                    <mat-label>Outline form field</mat-label>
                                    <input matInput placeholder="Placeholder">
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->

        <!-- </div> -->
        <div class="loginbackground">
            <div class="form">
            <div class="container-fluid">
               <div class="row form-container">
                <div class="col-md-7" style="padding-left: 0px;padding-right:0px">
                  <img src="../../../assets/images/login.png" class="img-fluid" style="height: 645px;">
                  <div class="loginHeader">
                    <h1>Good Things on Your way !</h1>
                  </div>
                 
                </div>
                <div class="col-md-5">
                    <div class="logincontent mt-4">
                 <div class="text-center">
                    <img src="../../../assets/images/Artboard2.png" style="width:100%">

                    <div class="header text-center mt-4">
                        <h1>Login</h1>
                    </div>
                 </div>
                  <form>
                    <div class="form-group mb-4">
                        <label>Employee ID</label>
                        <input type="email" class="form-control" autocomplete="off">
                      </div>
                    <div class="form-group mb-4">
                        <label>Password</label>
                        <input type="password" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <div class="buttons text-center">
                       <button type="submit" class="btn loginBtn">Login</button>
                       <button type="button" class="btn cancelBtn">Cancel</button>
                       </div>
                    </div>
                  </form>
                 
                 
                  </div>
                  <div class="footer">
                    <hr>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <p>Copyright &#169; 2018 Aleercio.com </p>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <p>Terms & conditions | Privacy policy </p>
                        </div>
                    </div>
                  </div>
                </div>
               </div>
            
            </div>
            </div>
            </div>