<section class="p-2">
  <div class="p-2">Home <span>> Profile</span></div>
</section>

<section>
  <div class="container-fluid">
    <div class="card">
      <div class="main">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-4"><span class="headding">Primary info</span></div>
          </div>
          <div class="col-md-6 d-flex justify-content-end">
            <div class="mb-4">
              <mat-icon>edit</mat-icon>
            </div>
          </div>
          <div class="col-md-3">
            <p>Employee ID : <span class="sub-text">TYC012177</span></p>
          </div>
          <div class="col-md-3">
            <p>Employee Name : <span class="sub-text">Sharvana</span></p>
          </div>
          <div class="col-md-3">
            <p>Date of joining : <span class="sub-text">13 Apr 2022</span></p>
          </div>
          <div class="col-md-3">
            <p>Date of birth :<span class="sub-text">13 Apr 2000</span></p>
          </div>
          <div class="col-md-3">
            <p>Salary : <span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>Blood group : <span class="sub-text">O+</span></p>
          </div>
          <div class="col-md-3">
            <p>Designation :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>Gender :<span class="sub-text">Male</span></p>
          </div>
          <div class="col-md-3">
            <p>Nationality :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>Employee status :<span class="sub-text">--</span></p>
          </div>
        </div>

        <hr style="border-top: dotted 1px" />

        <div class="row">
          <div class="col-md-12">
            <div class="mb-4"><span class="headding">Secondary info</span></div>
          </div>
          <div class="col-md-3">
            <p>PAN No. : <span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>Aadhar No. :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>Father name :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>Mother name :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>Spouse name :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>passport No. :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>marital status :<span class="sub-text">--</span></p>
          </div>
        </div>

        <hr style="border-top: dotted 1px" />

        <div class="row">
          <div class="col-md-12">
            <div class="mb-4">
              <span class="headding">Education details</span>
            </div>
          </div>
          <div class="col-md-3">
            <p>Education Type :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>Year of passing :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>Percentage (%) :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>University Name :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>Institute name :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>specialization :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>state :<span class="sub-text">--</span></p>
          </div>
        </div>

        <hr style="border-top: dotted 1px" />

        <div class="row">
          <div class="col-md-12">
            <div class="mb-4">
              <span class="headding">Address details</span>
            </div>
          </div>
          <div class="col-md-3">
            <p>Address Type :<span class="sub-text">TYC012177</span></p>
          </div>
          <div class="col-md-3">
            <p>Door no. :<span class="sub-text">Sharvana</span></p>
          </div>
          <div class="col-md-3">
            <p>street :<span class="sub-text">13 Apr 2022</span></p>
          </div>
          <div class="col-md-3">
            <p>locality :<span class="sub-text">13 Apr 2000</span></p>
          </div>
          <div class="col-md-3">
            <p>city :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>state :<span class="sub-text">O+</span></p>
          </div>
          <div class="col-md-3">
            <p>PIN Code :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>Land Mark :<span class="sub-text">--</span></p>
          </div>
        </div>

        <hr style="border-top: dotted 1px" />

        <div class="row">
          <div class="col-md-12">
            <div class="mb-4">
              <span class="headding">Bank details</span>
            </div>
          </div>
          <div class="col-md-3">
            <p>Account no. :<span class="sub-text"></span></p>
          </div>
          <div class="col-md-3">
            <p>Bank name :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>Bank type :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>IFSC code :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>Branch :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>state :<span class="sub-text">O+</span></p>
          </div>
        </div>

        <hr style="border-top: dotted 1px" />

        <div class="row">
          <div class="col-md-12">
            <div class="mb-4">
              <span class="headding">Technical skill </span>
            </div>
          </div>
          <div class="col-md-3">
            <p>skill type :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>skill rating :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>
              Year of experience(over skill) :<span class="sub-text">--</span>
            </p>
          </div>
        </div>

        <hr style="border-top: dotted 1px" />

        <div class="row">
          <div class="col-md-12">
            <div class="mb-4">
              <span class="headding">Experience</span>
            </div>
          </div>
          <div class="col-md-3">
            <p>Date of joining :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>Year of experience :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>Company name :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>Designation :<span class="sub-text">--</span></p>
          </div>
        </div>

        <hr style="border-top: dotted 1px" />

        <div class="row">
          <div class="col-md-12">
            <div class="mb-4">
              <span class="headding">Contact </span>
            </div>
          </div>
          <div class="col-md-3">
            <p>Contact type :<span class="sub-text">--</span></p>
          </div>
          <div class="col-md-3">
            <p>Contact number :<span class="sub-text">--</span></p>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <button class="btn nextbtn">Submit</button>
        </div>
      </div>
    </div>
  </div>
</section>
